openapi: 3.0.3
info:
  title: Trade Nexus Platform API
  version: 1.0.0
  description: |
    Canonical public API contract for Trade Nexus.

    Rules:
    - This file is the source of truth for external consumers.
    - Lona and execution engines are internal provider integrations behind adapters.
servers:
  - url: https://api.trade-nexus.io
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
  - name: Research
  - name: Knowledge
  - name: Conversations
  - name: Validation
  - name: Strategies
  - name: Backtests
  - name: Deployments
  - name: Portfolios
  - name: Orders
  - name: Datasets
  - name: Data

security:
  - bearerAuth: []
  - apiKeyAuth: []

paths:
  /v1/health:
    get:
      tags: [Health]
      summary: Health check
      operationId: getHealthV1
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, service, timestamp]
                properties:
                  status:
                    type: string
                    enum: [ok]
                  service:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
              example:
                status: ok
                service: trade-nexus-platform-api
                timestamp: '2026-02-13T22:00:00Z'

  /v1/research/market-scan:
    post:
      tags: [Research]
      summary: Analyze market conditions and return strategy ideas
      operationId: postMarketScanV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketScanRequest'
            example:
              assetClasses: [crypto, stocks]
              capital: 25000
              constraints:
                maxPositionPct: 25
                maxDrawdownPct: 12
      responses:
        '200':
          description: Research result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketScanResponse'
              example:
                requestId: req-research-001
                regimeSummary: Risk-on momentum with elevated volatility clusters.
                strategyIdeas:
                  - name: BTC Trend Follow
                    assetClass: crypto
                    description: Long breakouts with trailing stop.
                    rationale: Momentum persists while breadth remains positive.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'

  /v1/strategies:
    get:
      tags: [Strategies]
      summary: List strategies
      operationId: listStrategiesV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/StrategyStatus'
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Strategy list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyListResponse'
              example:
                requestId: req-strategy-list-001
                items:
                  - id: strat-001
                    name: BTC Trend Follow
                    description: Breakout strategy for BTCUSD.
                    status: tested
                    provider: lona
                    providerRefId: lona-strategy-123
                    tags: [momentum, crypto]
                    createdAt: '2026-02-10T10:00:00Z'
                    updatedAt: '2026-02-13T19:00:00Z'
                nextCursor: null
        '401':
          $ref: '#/components/responses/Error401'
    post:
      tags: [Strategies]
      summary: Create strategy from natural-language description
      operationId: createStrategyV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStrategyRequest'
            example:
              name: Mean Reversion ETH
              description: Mean-reversion strategy for ETH using 20-period z-score bands.
              provider: xai
      responses:
        '201':
          description: Strategy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyResponse'
              example:
                requestId: req-strategy-create-001
                strategy:
                  id: strat-002
                  name: Mean Reversion ETH
                  description: Mean-reversion strategy for ETH using z-score bands.
                  status: draft
                  provider: lona
                  providerRefId: lona-strategy-456
                  tags: [mean-reversion, crypto]
                  createdAt: '2026-02-13T21:20:00Z'
                  updatedAt: '2026-02-13T21:20:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v1/strategies/{strategyId}:
    get:
      tags: [Strategies]
      summary: Get strategy by id
      operationId: getStrategyV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/StrategyId'
      responses:
        '200':
          description: Strategy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyResponse'
              example:
                requestId: req-strategy-get-001
                strategy:
                  id: strat-001
                  name: BTC Trend Follow
                  description: Breakout strategy for BTCUSD.
                  status: tested
                  provider: lona
                  providerRefId: lona-strategy-123
                  tags: [momentum, crypto]
                  createdAt: '2026-02-10T10:00:00Z'
                  updatedAt: '2026-02-13T19:00:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
    patch:
      tags: [Strategies]
      summary: Update strategy metadata or status
      operationId: updateStrategyV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/StrategyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStrategyRequest'
            example:
              status: deployable
              tags: [momentum, approved]
      responses:
        '200':
          description: Updated strategy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyResponse'
              example:
                requestId: req-strategy-update-001
                strategy:
                  id: strat-001
                  name: BTC Trend Follow
                  description: Breakout strategy for BTCUSD.
                  status: deployable
                  provider: lona
                  providerRefId: lona-strategy-123
                  tags: [momentum, approved]
                  createdAt: '2026-02-10T10:00:00Z'
                  updatedAt: '2026-02-13T21:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/strategies/{strategyId}/backtests:
    post:
      tags: [Backtests]
      summary: Start a backtest for a strategy
      operationId: createBacktestV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/StrategyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBacktestRequest'
            example:
              dataIds: [dataset-btc-1h-2025]
              startDate: '2025-01-01'
              endDate: '2025-12-31'
              initialCash: 100000
      responses:
        '202':
          description: Backtest accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestResponse'
              example:
                requestId: req-backtest-create-001
                backtest:
                  id: bt-001
                  strategyId: strat-001
                  status: queued
                  startedAt: null
                  completedAt: null
                  metrics: {}
                  error: null
                  createdAt: '2026-02-13T21:25:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/backtests/{backtestId}:
    get:
      tags: [Backtests]
      summary: Get backtest status and report
      operationId: getBacktestV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/BacktestId'
      responses:
        '200':
          description: Backtest report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestResponse'
              example:
                requestId: req-backtest-get-001
                backtest:
                  id: bt-001
                  strategyId: strat-001
                  status: completed
                  startedAt: '2026-02-13T21:25:30Z'
                  completedAt: '2026-02-13T21:27:00Z'
                  metrics:
                    sharpeRatio: 1.48
                    maxDrawdownPct: 9.2
                    winRatePct: 57.3
                    totalReturnPct: 24.5
                  error: null
                  createdAt: '2026-02-13T21:25:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/deployments:
    get:
      tags: [Deployments]
      summary: List deployments
      operationId: listDeploymentsV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DeploymentStatus'
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Deployment list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
              example:
                requestId: req-deployment-list-001
                items:
                  - id: dep-001
                    strategyId: strat-001
                    mode: paper
                    status: running
                    capital: 20000
                    engine: live-engine
                    providerRefId: live-abc
                    latestPnl: 150.25
                    createdAt: '2026-02-13T20:00:00Z'
                    updatedAt: '2026-02-13T21:10:00Z'
                nextCursor: null
        '401':
          $ref: '#/components/responses/Error401'
    post:
      tags: [Deployments]
      summary: Create a paper/live deployment
      operationId: createDeploymentV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
            example:
              strategyId: strat-001
              mode: paper
              capital: 20000
      responses:
        '202':
          description: Deployment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
              example:
                requestId: req-deployment-create-001
                deployment:
                  id: dep-001
                  strategyId: strat-001
                  mode: paper
                  status: queued
                  capital: 20000
                  engine: live-engine
                  providerRefId: live-abc
                  latestPnl: null
                  createdAt: '2026-02-13T21:30:00Z'
                  updatedAt: '2026-02-13T21:30:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '422':
          $ref: '#/components/responses/Error422'
        '423':
          $ref: '#/components/responses/Error423'
        '409':
          $ref: '#/components/responses/Error409'

  /v1/deployments/{deploymentId}:
    get:
      tags: [Deployments]
      summary: Get deployment status
      operationId: getDeploymentV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
              example:
                requestId: req-deployment-get-001
                deployment:
                  id: dep-001
                  strategyId: strat-001
                  mode: paper
                  status: running
                  capital: 20000
                  engine: live-engine
                  providerRefId: live-abc
                  latestPnl: 150.25
                  createdAt: '2026-02-13T20:00:00Z'
                  updatedAt: '2026-02-13T21:10:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/deployments/{deploymentId}/actions/stop:
    post:
      tags: [Deployments]
      summary: Stop a running deployment
      operationId: stopDeploymentV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
            example:
              reason: Risk policy drawdown threshold breached.
      responses:
        '202':
          description: Stop accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
              example:
                requestId: req-deployment-stop-001
                deployment:
                  id: dep-001
                  strategyId: strat-001
                  mode: paper
                  status: stopping
                  capital: 20000
                  engine: live-engine
                  providerRefId: live-abc
                  latestPnl: 120.0
                  createdAt: '2026-02-13T20:00:00Z'
                  updatedAt: '2026-02-13T21:15:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/portfolios:
    get:
      tags: [Portfolios]
      summary: List portfolios
      operationId: listPortfoliosV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Portfolio list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioListResponse'
              example:
                requestId: req-portfolio-list-001
                items:
                  - id: portfolio-paper-001
                    mode: paper
                    cash: 12450.75
                    totalValue: 20891.12
                    pnlTotal: 891.12
                    positions:
                      - symbol: BTCUSDT
                        quantity: 0.3
                        avgPrice: 62000
                        currentPrice: 64800
                        unrealizedPnl: 840
        '401':
          $ref: '#/components/responses/Error401'

  /v1/portfolios/{portfolioId}:
    get:
      tags: [Portfolios]
      summary: Get portfolio snapshot
      operationId: getPortfolioV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/PortfolioId'
      responses:
        '200':
          description: Portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
              example:
                requestId: req-portfolio-get-001
                portfolio:
                  id: portfolio-paper-001
                  mode: paper
                  cash: 12450.75
                  totalValue: 20891.12
                  pnlTotal: 891.12
                  positions:
                    - symbol: BTCUSDT
                      quantity: 0.3
                      avgPrice: 62000
                      currentPrice: 64800
                      unrealizedPnl: 840
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrdersV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
              example:
                requestId: req-order-list-001
                items:
                  - id: ord-001
                    symbol: BTCUSDT
                    side: buy
                    type: limit
                    quantity: 0.1
                    price: 64500
                    status: pending
                    deploymentId: dep-001
                    createdAt: '2026-02-13T21:31:00Z'
                nextCursor: null
        '401':
          $ref: '#/components/responses/Error401'
    post:
      tags: [Orders]
      summary: Place manual order
      operationId: createOrderV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            example:
              symbol: BTCUSDT
              side: buy
              type: limit
              quantity: 0.1
              price: 64500
              deploymentId: dep-001
      responses:
        '201':
          description: Order placed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                requestId: req-order-create-001
                order:
                  id: ord-001
                  symbol: BTCUSDT
                  side: buy
                  type: limit
                  quantity: 0.1
                  price: 64500
                  status: pending
                  deploymentId: dep-001
                  createdAt: '2026-02-13T21:31:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '422':
          $ref: '#/components/responses/Error422'
        '423':
          $ref: '#/components/responses/Error423'
        '409':
          $ref: '#/components/responses/Error409'

  /v1/orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order
      operationId: getOrderV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                requestId: req-order-get-001
                order:
                  id: ord-001
                  symbol: BTCUSDT
                  side: buy
                  type: limit
                  quantity: 0.1
                  price: 64500
                  status: pending
                  deploymentId: dep-001
                  createdAt: '2026-02-13T21:31:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
    delete:
      tags: [Orders]
      summary: Cancel order
      operationId: cancelOrderV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                requestId: req-order-cancel-001
                order:
                  id: ord-001
                  symbol: BTCUSDT
                  side: buy
                  type: limit
                  quantity: 0.1
                  price: 64500
                  status: cancelled
                  deploymentId: dep-001
                  createdAt: '2026-02-13T21:31:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets/uploads:init:
    post:
      tags: [Datasets]
      summary: Initialize dataset upload session
      operationId: initDatasetUploadV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUploadInitRequest'
            example:
              filename: btc-1h-2025.csv
              contentType: text/csv
              sizeBytes: 2048
      responses:
        '202':
          description: Dataset upload initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetUploadInitResponse'
              example:
                requestId: req-dataset-init-001
                datasetId: dataset-001
                uploadUrl: https://uploads.trade-nexus.local/dataset-001
                status: uploading
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v1/datasets/{datasetId}/uploads:complete:
    post:
      tags: [Datasets]
      summary: Complete dataset upload session
      operationId: completeDatasetUploadV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUploadCompleteRequest'
            example:
              uploadToken: upload-token-001
      responses:
        '202':
          description: Dataset upload completion accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
              example:
                requestId: req-dataset-complete-001
                dataset:
                  id: dataset-001
                  filename: btc-1h-2025.csv
                  contentType: text/csv
                  sizeBytes: 2048
                  status: uploaded
                  providerDataId: null
                  uploadUrl: https://uploads.trade-nexus.local/dataset-001
                  createdAt: '2026-02-14T09:00:00Z'
                  updatedAt: '2026-02-14T09:01:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets/{datasetId}/validate:
    post:
      tags: [Datasets]
      summary: Trigger dataset validation
      operationId: validateDatasetV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetValidateRequest'
            example:
              columnMapping:
                timestamp: timestamp
                close: close
      responses:
        '202':
          description: Dataset validation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
              example:
                requestId: req-dataset-validate-001
                dataset:
                  id: dataset-001
                  filename: btc-1h-2025.csv
                  contentType: text/csv
                  sizeBytes: 2048
                  status: validated
                  providerDataId: null
                  uploadUrl: https://uploads.trade-nexus.local/dataset-001
                  createdAt: '2026-02-14T09:00:00Z'
                  updatedAt: '2026-02-14T09:02:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets/{datasetId}/transform/candles:
    post:
      tags: [Datasets]
      summary: Trigger dataset transform to candle format
      operationId: transformDatasetCandlesV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetTransformCandlesRequest'
            example:
              frequency: 1h
      responses:
        '202':
          description: Dataset transform accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
              example:
                requestId: req-dataset-transform-001
                dataset:
                  id: dataset-001
                  filename: btc-1h-2025.csv
                  contentType: text/csv
                  sizeBytes: 2048
                  status: ready
                  providerDataId: null
                  uploadUrl: https://uploads.trade-nexus.local/dataset-001
                  createdAt: '2026-02-14T09:00:00Z'
                  updatedAt: '2026-02-14T09:03:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets/{datasetId}/publish/lona:
    post:
      tags: [Datasets]
      summary: Publish dataset to Lona-compatible provider representation
      operationId: publishDatasetLonaV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetPublishLonaRequest'
            example:
              mode: explicit
      responses:
        '202':
          description: Dataset publish accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
              example:
                requestId: req-dataset-publish-001
                dataset:
                  id: dataset-001
                  filename: btc-1h-2025.csv
                  contentType: text/csv
                  sizeBytes: 2048
                  status: published_lona
                  providerDataId: lona-symbol-001
                  uploadUrl: https://uploads.trade-nexus.local/dataset-001
                  createdAt: '2026-02-14T09:00:00Z'
                  updatedAt: '2026-02-14T09:04:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets:
    get:
      tags: [Datasets]
      summary: List datasets
      operationId: listDatasetsV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Dataset list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetListResponse'
              example:
                requestId: req-dataset-list-001
                items:
                  - id: dataset-001
                    filename: btc-1h-2025.csv
                    contentType: text/csv
                    sizeBytes: 2048
                    status: published_lona
                    providerDataId: lona-symbol-001
                    uploadUrl: https://uploads.trade-nexus.local/dataset-001
                    createdAt: '2026-02-14T09:00:00Z'
                    updatedAt: '2026-02-14T09:04:00Z'
                nextCursor: null
        '401':
          $ref: '#/components/responses/Error401'

  /v1/datasets/{datasetId}:
    get:
      tags: [Datasets]
      summary: Get dataset metadata and lifecycle status
      operationId: getDatasetV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
              example:
                requestId: req-dataset-get-001
                dataset:
                  id: dataset-001
                  filename: btc-1h-2025.csv
                  contentType: text/csv
                  sizeBytes: 2048
                  status: published_lona
                  providerDataId: lona-symbol-001
                  uploadUrl: https://uploads.trade-nexus.local/dataset-001
                  createdAt: '2026-02-14T09:00:00Z'
                  updatedAt: '2026-02-14T09:04:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v1/datasets/{datasetId}/quality-report:
    get:
      tags: [Datasets]
      summary: Get dataset quality report
      operationId: getDatasetQualityReportV1
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Quality report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetQualityReportResponse'
              example:
                requestId: req-dataset-quality-001
                qualityReport:
                  datasetId: dataset-001
                  status: validated
                  summary: Dataset passed schema and timestamp-order checks.
                  issues: []
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/knowledge/search:
    post:
      tags: [Knowledge]
      summary: Search Knowledge Base entries
      operationId: searchKnowledgeV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeSearchRequest'
            example:
              query: momentum sideways
              assets: [BTCUSDT]
              limit: 5
      responses:
        '200':
          description: Knowledge search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeSearchResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/knowledge/patterns:
    get:
      tags: [Knowledge]
      summary: List canonical knowledge patterns
      operationId: listKnowledgePatternsV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: type
          in: query
          schema:
            type: string
        - name: asset
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Knowledge pattern list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgePatternListResponse'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/knowledge/regimes/{asset}:
    get:
      tags: [Knowledge]
      summary: Get active market regime from Knowledge Base
      operationId: getKnowledgeRegimeV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/Asset'
      responses:
        '200':
          description: Active regime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeRegimeResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/data/exports/backtest:
    post:
      tags: [Data]
      summary: Create backtest data export artifact
      operationId: createBacktestDataExportV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BacktestDataExportRequest'
      responses:
        '202':
          description: Export accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestDataExportResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/data/exports/{exportId}:
    get:
      tags: [Data]
      summary: Get backtest data export status
      operationId: getBacktestDataExportV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ExportId'
      responses:
        '200':
          description: Backtest export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestDataExportResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/research/market-scan:
    post:
      tags: [Research]
      summary: Analyze market with KB/data context and return strategy ideas
      operationId: postMarketScanV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketScanRequest'
      responses:
        '200':
          description: Enriched research result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketScanV2Response'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'

  /v2/conversations/sessions:
    post:
      tags: [Conversations]
      summary: Create conversation session across CLI, Web, and OpenClaw lanes
      operationId: createConversationSessionV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationSessionRequest'
            example:
              channel: openclaw
              topic: risk-aware deployment
              metadata:
                source: openclaw-skill
      responses:
        '201':
          description: Conversation session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSessionResponse'
              example:
                requestId: req-conversation-session-001
                session:
                  id: conv-0001
                  channel: openclaw
                  status: active
                  topic: risk-aware deployment
                  metadata:
                    source: openclaw-skill
                  createdAt: '2026-02-14T23:00:00Z'
                  updatedAt: '2026-02-14T23:00:00Z'
                  lastTurnAt: null
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/conversations/sessions/{sessionId}:
    get:
      tags: [Conversations]
      summary: Get conversation session metadata
      operationId: getConversationSessionV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Conversation session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSessionResponse'
              example:
                requestId: req-conversation-session-get-001
                session:
                  id: conv-0001
                  channel: openclaw
                  status: active
                  topic: risk-aware deployment
                  metadata:
                    source: openclaw-skill
                  createdAt: '2026-02-14T23:00:00Z'
                  updatedAt: '2026-02-14T23:01:00Z'
                  lastTurnAt: '2026-02-14T23:01:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/conversations/sessions/{sessionId}/turns:
    post:
      tags: [Conversations]
      summary: Append conversation turn to a session
      operationId: createConversationTurnV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationTurnRequest'
            example:
              role: user
              message: deploy my strategy after backtest
              metadata:
                source: cli
      responses:
        '201':
          description: Conversation turn created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTurnResponse'
              example:
                requestId: req-conversation-turn-001
                sessionId: conv-0001
                turn:
                  id: turn-0001
                  sessionId: conv-0001
                  role: user
                  message: deploy my strategy after backtest
                  suggestions:
                    - Review latest backtest metrics and drawdown before deployment.
                  metadata:
                    source: cli
                  createdAt: '2026-02-14T23:01:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-runs:
    get:
      tags: [Validation]
      summary: List validation runs for authenticated identity scope
      operationId: listValidationRunsV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Validation run list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRunListResponse'
              example:
                requestId: req-validation-run-list-001
                runs:
                  - id: valrun-20260217-0002
                    status: completed
                    profile: STANDARD
                    schemaVersion: validation-run.v1
                    finalDecision: pass
                    createdAt: '2026-02-17T10:30:00Z'
                    updatedAt: '2026-02-17T10:35:00Z'
                  - id: valrun-20260217-0001
                    status: queued
                    profile: STANDARD
                    schemaVersion: validation-run.v1
                    finalDecision: pending
                    createdAt: '2026-02-17T10:20:00Z'
                    updatedAt: '2026-02-17T10:20:00Z'
        '401':
          $ref: '#/components/responses/Error401'
    post:
      tags: [Validation]
      summary: Start validation run for strategy artifacts
      operationId: createValidationRunV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationRunRequest'
            example:
              strategyId: strat-001
              providerRefId: lona-strategy-123
              prompt: Build zig-zag strategy for BTC 1h with trend filter
              requestedIndicators: [zigzag, ema]
              datasetIds: [dataset-btc-1h-2025]
              backtestReportRef: blob://validation/candidate/backtest-report.json
              policy:
                profile: STANDARD
                blockMergeOnFail: true
                blockReleaseOnFail: true
                blockMergeOnAgentFail: true
                blockReleaseOnAgentFail: false
                requireTraderReview: false
                hardFailOnMissingIndicators: true
                failClosedOnEvidenceUnavailable: true
      responses:
        '202':
          description: Validation run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRunResponse'
              example:
                requestId: req-validation-run-001
                run:
                  id: valrun-20260217-0001
                  status: queued
                  profile: STANDARD
                  schemaVersion: validation-run.v1
                  finalDecision: pending
                  createdAt: '2026-02-17T10:30:00Z'
                  updatedAt: '2026-02-17T10:30:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/validation-runs/{runId}:
    get:
      tags: [Validation]
      summary: Get validation run status
      operationId: getValidationRunV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
      responses:
        '200':
          description: Validation run status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRunResponse'
              example:
                requestId: req-validation-run-get-001
                run:
                  id: valrun-20260217-0001
                  status: completed
                  profile: STANDARD
                  schemaVersion: validation-run.v1
                  finalDecision: pass
                  createdAt: '2026-02-17T10:30:00Z'
                  updatedAt: '2026-02-17T10:35:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-runs/{runId}/artifact:
    get:
      tags: [Validation]
      summary: Get validation artifact payload
      operationId: getValidationRunArtifactV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
      responses:
        '200':
          description: Validation artifact payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationArtifactResponse'
              example:
                requestId: req-validation-artifact-001
                artifactType: validation_run
                artifact:
                  schemaVersion: validation-run.v1
                  runId: valrun-20260217-0001
                  createdAt: '2026-02-17T10:30:00Z'
                  requestId: req-validation-run-001
                  tenantId: tenant-001
                  userId: user-001
                  strategyRef:
                    strategyId: strat-001
                    provider: lona
                    providerRefId: lona-strategy-123
                  inputs:
                    prompt: Build zig-zag strategy for BTC 1h with trend filter
                    requestedIndicators: [zigzag, ema]
                    datasetIds: [dataset-btc-1h-2025]
                    backtestReportRef: blob://validation/valrun-20260217-0001/backtest-report.json
                  outputs:
                    strategyCodeRef: blob://validation/valrun-20260217-0001/strategy.py
                    backtestReportRef: blob://validation/valrun-20260217-0001/backtest-report.json
                    tradesRef: blob://validation/valrun-20260217-0001/trades.json
                    executionLogsRef: blob://validation/valrun-20260217-0001/execution.log
                    chartPayloadRef: blob://validation/valrun-20260217-0001/chart-payload.json
                  deterministicChecks:
                    indicatorFidelity:
                      status: pass
                      missingIndicators: []
                    tradeCoherence:
                      status: pass
                      violations: []
                    metricConsistency:
                      status: pass
                      driftPct: 0.8
                  agentReview:
                    status: pass
                    summary: No indicator/render drift detected.
                    findings: []
                    budget:
                      profile: STANDARD
                      limits:
                        maxRuntimeSeconds: 1.2
                        maxTokens: 2400
                        maxToolCalls: 4
                        maxFindings: 6
                      usage:
                        runtimeSeconds: 0.12
                        tokensUsed: 512
                        toolCallsUsed: 0
                      withinBudget: true
                      breachReason: null
                  traderReview:
                    required: false
                    status: not_requested
                    comments: []
                  policy:
                    profile: STANDARD
                    blockMergeOnFail: true
                    blockReleaseOnFail: true
                    blockMergeOnAgentFail: true
                    blockReleaseOnAgentFail: false
                    requireTraderReview: false
                    hardFailOnMissingIndicators: true
                    failClosedOnEvidenceUnavailable: true
                  finalDecision: pass
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-runs/{runId}/review:
    post:
      tags: [Validation]
      summary: Submit validation review decision
      operationId: submitValidationRunReviewV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationRunReviewRequest'
            example:
              reviewerType: agent
              decision: pass
              summary: Indicator fidelity and metric checks are within policy tolerance.
              findings: []
              comments: []
      responses:
        '202':
          description: Validation review accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRunReviewResponse'
              example:
                requestId: req-validation-review-001
                runId: valrun-20260217-0001
                reviewAccepted: true
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-runs/{runId}/render:
    post:
      tags: [Validation]
      summary: Create optional html/pdf validation render artifact
      operationId: createValidationRunRenderV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationRenderRequest'
            example:
              format: html
      responses:
        '202':
          description: Validation render accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRenderResponse'
              example:
                requestId: req-validation-render-001
                render:
                  runId: valrun-20260217-0001
                  format: html
                  status: queued
                  artifactRef: null
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-review/runs:
    get:
      tags: [Validation]
      summary: List validation runs for trader review web
      operationId: listValidationReviewRunsV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ValidationRunStatus'
        - name: finalDecision
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ValidationRunDecision'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Validation review runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewRunListResponse'
              example:
                requestId: req-validation-review-list-001
                items:
                  - id: valrun-20260217-0001
                    status: completed
                    profile: STANDARD
                    finalDecision: conditional_pass
                    traderReviewStatus: requested
                    commentCount: 1
                    pendingDecision: true
                    createdAt: '2026-02-17T10:30:00Z'
                    updatedAt: '2026-02-17T10:35:00Z'
                nextCursor: null
        '401':
          $ref: '#/components/responses/Error401'

  /v2/validation-review/runs/{runId}:
    get:
      tags: [Validation]
      summary: Get canonical JSON review artifact for a validation run
      operationId: getValidationReviewRunV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
      responses:
        '200':
          description: Canonical validation review artifact payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewRunDetailResponse'
              example:
                requestId: req-validation-review-run-001
                artifact:
                  schemaVersion: validation-review.v1
                  run:
                    id: valrun-20260217-0001
                    status: completed
                    profile: STANDARD
                    schemaVersion: validation-run.v1
                    finalDecision: conditional_pass
                    createdAt: '2026-02-17T10:30:00Z'
                    updatedAt: '2026-02-17T10:40:00Z'
                  artifact:
                    schemaVersion: validation-run.v1
                    runId: valrun-20260217-0001
                    createdAt: '2026-02-17T10:30:00Z'
                    requestId: req-validation-run-001
                    tenantId: tenant-001
                    userId: user-001
                    strategyRef:
                      strategyId: strat-001
                      provider: lona
                      providerRefId: lona-strategy-123
                    inputs:
                      prompt: Build zig-zag strategy for BTC 1h with trend filter
                      requestedIndicators: [zigzag, ema]
                      datasetIds: [dataset-btc-1h-2025]
                      backtestReportRef: blob://validation/valrun-20260217-0001/backtest-report.json
                    outputs:
                      strategyCodeRef: blob://validation/valrun-20260217-0001/strategy.py
                      backtestReportRef: blob://validation/valrun-20260217-0001/backtest-report.json
                      tradesRef: blob://validation/valrun-20260217-0001/trades.json
                      executionLogsRef: blob://validation/valrun-20260217-0001/execution.log
                      chartPayloadRef: blob://validation/valrun-20260217-0001/chart-payload.json
                    deterministicChecks:
                      indicatorFidelity:
                        status: pass
                        missingIndicators: []
                      tradeCoherence:
                        status: pass
                        violations: []
                      metricConsistency:
                        status: pass
                        driftPct: 0.8
                    agentReview:
                      status: pass
                      summary: No indicator/render drift detected.
                      findings: []
                    traderReview:
                      required: true
                      status: requested
                      comments: []
                    policy:
                      profile: STANDARD
                      blockMergeOnFail: true
                      blockReleaseOnFail: true
                      blockMergeOnAgentFail: true
                      blockReleaseOnAgentFail: false
                      requireTraderReview: true
                      hardFailOnMissingIndicators: true
                      failClosedOnEvidenceUnavailable: true
                    finalDecision: conditional_pass
                  comments:
                    - id: valcomment-001
                      runId: valrun-20260217-0001
                      tenantId: tenant-001
                      userId: user-001
                      body: Investigated drawdown drift; acceptable with tighter controls.
                      evidenceRefs:
                        - blob://validation/valrun-20260217-0001/backtest-report.json
                      createdAt: '2026-02-17T10:36:00Z'
                  decision:
                    runId: valrun-20260217-0001
                    action: approve
                    decision: conditional_pass
                    reason: Approved with caution and tighter production risk limits.
                    evidenceRefs:
                      - blob://validation/valrun-20260217-0001/backtest-report.json
                    decidedByTenantId: tenant-001
                    decidedByUserId: user-001
                    createdAt: '2026-02-17T10:40:00Z'
                  renders:
                    - runId: valrun-20260217-0001
                      format: html
                      status: completed
                      artifactRef: blob://validation/valrun-20260217-0001/review.html
                      downloadUrl: https://cdn.trade-nexus.io/validation/valrun-20260217-0001/review.html
                      checksumSha256: 5d41402abc4b2a76b9719d911017c592ad8846f8d1b522f11f2e6f64044f16f8
                      expiresAt: '2026-02-17T11:40:00Z'
                      requestedAt: '2026-02-17T10:37:00Z'
                      updatedAt: '2026-02-17T10:38:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-review/runs/{runId}/comments:
    post:
      tags: [Validation]
      summary: Append review comment to a validation run
      operationId: createValidationReviewCommentV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationReviewCommentRequest'
            example:
              body: Indicator fidelity is acceptable, but monitor drawdown during rollout.
              evidenceRefs:
                - blob://validation/valrun-20260217-0001/backtest-report.json
      responses:
        '202':
          description: Review comment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewCommentResponse'
              example:
                requestId: req-validation-review-comment-001
                runId: valrun-20260217-0001
                commentAccepted: true
                comment:
                  id: valcomment-001
                  runId: valrun-20260217-0001
                  tenantId: tenant-001
                  userId: user-001
                  body: Indicator fidelity is acceptable, but monitor drawdown during rollout.
                  evidenceRefs:
                    - blob://validation/valrun-20260217-0001/backtest-report.json
                  createdAt: '2026-02-17T10:36:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'

  /v2/validation-review/runs/{runId}/decisions:
    post:
      tags: [Validation]
      summary: Submit approval or rejection decision for a validation run
      operationId: createValidationReviewDecisionV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationReviewDecisionRequest'
            example:
              action: approve
              decision: conditional_pass
              reason: Approved with caution and tighter production risk limits.
              evidenceRefs:
                - blob://validation/valrun-20260217-0001/backtest-report.json
      responses:
        '202':
          description: Review decision accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewDecisionResponse'
              example:
                requestId: req-validation-review-decision-001
                runId: valrun-20260217-0001
                decisionAccepted: true
                decision:
                  runId: valrun-20260217-0001
                  action: approve
                  decision: conditional_pass
                  reason: Approved with caution and tighter production risk limits.
                  evidenceRefs:
                    - blob://validation/valrun-20260217-0001/backtest-report.json
                  decidedByTenantId: tenant-001
                  decidedByUserId: user-001
                  createdAt: '2026-02-17T10:40:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'

  /v2/validation-review/runs/{runId}/renders:
    post:
      tags: [Validation]
      summary: Trigger optional html/pdf review render artifact generation
      operationId: createValidationReviewRenderV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationReviewRenderRequest'
            example:
              format: html
      responses:
        '202':
          description: Review render accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewRenderResponse'
              example:
                requestId: req-validation-review-render-001
                render:
                  runId: valrun-20260217-0001
                  format: html
                  status: queued
                  artifactRef: null
                  downloadUrl: null
                  checksumSha256: null
                  expiresAt: null
                  requestedAt: '2026-02-17T10:37:00Z'
                  updatedAt: '2026-02-17T10:37:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'

  /v2/validation-review/runs/{runId}/renders/{format}:
    get:
      tags: [Validation]
      summary: Get review render status and download metadata
      operationId: getValidationReviewRenderV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/ValidationRunId'
        - $ref: '#/components/parameters/ValidationRenderFormatPath'
      responses:
        '200':
          description: Review render status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationReviewRenderResponse'
              example:
                requestId: req-validation-review-render-get-001
                render:
                  runId: valrun-20260217-0001
                  format: html
                  status: completed
                  artifactRef: blob://validation/valrun-20260217-0001/review.html
                  downloadUrl: https://cdn.trade-nexus.io/validation/valrun-20260217-0001/review.html
                  checksumSha256: 5d41402abc4b2a76b9719d911017c592ad8846f8d1b522f11f2e6f64044f16f8
                  expiresAt: '2026-02-17T11:40:00Z'
                  requestedAt: '2026-02-17T10:37:00Z'
                  updatedAt: '2026-02-17T10:38:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'

  /v2/validation-baselines:
    post:
      tags: [Validation]
      summary: Promote validation run as baseline
      operationId: createValidationBaselineV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationBaselineRequest'
            example:
              runId: valrun-20260217-0001
              name: btc-1h-zigzag-baseline
              notes: Gate baseline approved for regression replay.
      responses:
        '201':
          description: Validation baseline created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationBaselineResponse'
              example:
                requestId: req-validation-baseline-001
                baseline:
                  id: valbase-001
                  runId: valrun-20260217-0001
                  name: btc-1h-zigzag-baseline
                  profile: STANDARD
                  createdAt: '2026-02-17T10:40:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

  /v2/validation-regressions/replay:
    post:
      tags: [Validation]
      summary: Replay validation regression against stored baseline
      operationId: replayValidationRegressionV2
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateValidationRegressionReplayRequest'
            example:
              baselineId: valbase-001
              candidateRunId: valrun-20260217-0099
      responses:
        '202':
          description: Validation regression replay accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationRegressionReplayResponse'
              example:
                requestId: req-validation-replay-001
                replay:
                  id: valreplay-001
                  baselineId: valbase-001
                  candidateRunId: valrun-20260217-0099
                  status: completed
                  decision: pass
                  mergeBlocked: false
                  releaseBlocked: false
                  mergeGateStatus: pass
                  releaseGateStatus: pass
                  baselineDecision: pass
                  candidateDecision: pass
                  metricDriftDeltaPct: 0.18
                  metricDriftThresholdPct: 0.5
                  thresholdBreached: false
                  reasons: []
                  summary: Replay comparison passed without regression.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    XRequestId:
      name: X-Request-Id
      in: header
      required: false
      schema:
        type: string
      description: Caller-provided request id for trace correlation.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
      description: Required for idempotent write operations.
    StrategyId:
      name: strategyId
      in: path
      required: true
      schema:
        type: string
    BacktestId:
      name: backtestId
      in: path
      required: true
      schema:
        type: string
    DeploymentId:
      name: deploymentId
      in: path
      required: true
      schema:
        type: string
    PortfolioId:
      name: portfolioId
      in: path
      required: true
      schema:
        type: string
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
    DatasetId:
      name: datasetId
      in: path
      required: true
      schema:
        type: string
    Asset:
      name: asset
      in: path
      required: true
      schema:
        type: string
    ExportId:
      name: exportId
      in: path
      required: true
      schema:
        type: string
    SessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
    ValidationRunId:
      name: runId
      in: path
      required: true
      schema:
        type: string
    ValidationRenderFormatPath:
      name: format
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ValidationRenderFormat'

  responses:
    Error400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error422:
      description: Unprocessable entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error423:
      description: Locked
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error429:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [error, requestId]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              minLength: 1
            message:
              type: string
              minLength: 1
            details:
              type: object
              nullable: true
              additionalProperties: true
        requestId:
          type: string
          minLength: 1

    CursorPage:
      type: object
      required: [nextCursor]
      properties:
        nextCursor:
          type: string
          nullable: true

    MarketScanRequest:
      type: object
      required: [assetClasses, capital]
      properties:
        assetClasses:
          type: array
          minItems: 1
          items:
            type: string
            enum: [crypto, stocks, forex, etf, commodities]
        capital:
          type: number
          minimum: 0
        constraints:
          type: object
          properties:
            maxPositionPct:
              type: number
              minimum: 0
              maximum: 100
            maxDrawdownPct:
              type: number
              minimum: 0
              maximum: 100

    MarketScanResponse:
      type: object
      required: [requestId, regimeSummary, strategyIdeas]
      properties:
        requestId:
          type: string
        regimeSummary:
          type: string
        strategyIdeas:
          type: array
          items:
            type: object
            required: [name, assetClass, description]
            properties:
              name:
                type: string
              assetClass:
                type: string
              description:
                type: string
              rationale:
                type: string

    StrategyStatus:
      type: string
      enum: [draft, testing, tested, deployable, archived, failed]

    Strategy:
      type: object
      required: [id, name, status, provider, createdAt, updatedAt]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/StrategyStatus'
        provider:
          type: string
          enum: [lona]
        providerRefId:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    StrategyResponse:
      type: object
      required: [requestId, strategy]
      properties:
        requestId:
          type: string
        strategy:
          $ref: '#/components/schemas/Strategy'

    StrategyListResponse:
      type: object
      required: [requestId, items, nextCursor]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Strategy'
        nextCursor:
          type: string
          nullable: true

    CreateStrategyRequest:
      type: object
      required: [description]
      properties:
        name:
          type: string
        description:
          type: string
          minLength: 10
        provider:
          type: string
          enum: [xai]
          default: xai

    UpdateStrategyRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/StrategyStatus'
        tags:
          type: array
          items:
            type: string

    BacktestStatus:
      type: string
      enum: [queued, running, completed, failed, cancelled]

    BacktestMetrics:
      type: object
      properties:
        sharpeRatio:
          type: number
        maxDrawdownPct:
          type: number
        winRatePct:
          type: number
        totalReturnPct:
          type: number

    Backtest:
      type: object
      required: [id, strategyId, status, createdAt]
      properties:
        id:
          type: string
        strategyId:
          type: string
        status:
          $ref: '#/components/schemas/BacktestStatus'
        startedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        metrics:
          $ref: '#/components/schemas/BacktestMetrics'
        error:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    BacktestResponse:
      type: object
      required: [requestId, backtest]
      properties:
        requestId:
          type: string
        backtest:
          $ref: '#/components/schemas/Backtest'

    CreateBacktestRequest:
      type: object
      required: [startDate, endDate]
      oneOf:
        - required: [dataIds]
          not:
            required: [datasetIds]
        - required: [datasetIds]
          not:
            required: [dataIds]
      properties:
        dataIds:
          type: array
          minItems: 1
          items:
            type: string
        datasetIds:
          type: array
          minItems: 1
          items:
            type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        initialCash:
          type: number
          minimum: 0
          default: 100000

    DeploymentMode:
      type: string
      enum: [paper, live]

    DeploymentStatus:
      type: string
      enum: [queued, running, paused, stopping, stopped, failed]

    Deployment:
      type: object
      required: [id, strategyId, mode, status, capital, createdAt]
      properties:
        id:
          type: string
        strategyId:
          type: string
        mode:
          $ref: '#/components/schemas/DeploymentMode'
        status:
          $ref: '#/components/schemas/DeploymentStatus'
        capital:
          type: number
        engine:
          type: string
          example: live-engine
        providerRefId:
          type: string
        latestPnl:
          type: number
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DeploymentResponse:
      type: object
      required: [requestId, deployment]
      properties:
        requestId:
          type: string
        deployment:
          $ref: '#/components/schemas/Deployment'

    DeploymentListResponse:
      type: object
      required: [requestId, items, nextCursor]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        nextCursor:
          type: string
          nullable: true

    CreateDeploymentRequest:
      type: object
      required: [strategyId, mode, capital]
      properties:
        strategyId:
          type: string
        mode:
          $ref: '#/components/schemas/DeploymentMode'
        capital:
          type: number
          minimum: 0

    Position:
      type: object
      required: [symbol, quantity, avgPrice, currentPrice, unrealizedPnl]
      properties:
        symbol:
          type: string
        quantity:
          type: number
        avgPrice:
          type: number
        currentPrice:
          type: number
        unrealizedPnl:
          type: number

    Portfolio:
      type: object
      required: [id, mode, cash, totalValue, positions]
      properties:
        id:
          type: string
        mode:
          $ref: '#/components/schemas/DeploymentMode'
        cash:
          type: number
        totalValue:
          type: number
        pnlTotal:
          type: number
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'

    PortfolioResponse:
      type: object
      required: [requestId, portfolio]
      properties:
        requestId:
          type: string
        portfolio:
          $ref: '#/components/schemas/Portfolio'

    PortfolioListResponse:
      type: object
      required: [requestId, items]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Portfolio'

    OrderSide:
      type: string
      enum: [buy, sell]

    OrderType:
      type: string
      enum: [market, limit]

    OrderStatus:
      type: string
      enum: [pending, filled, cancelled, failed]

    Order:
      type: object
      required: [id, symbol, side, type, quantity, status, createdAt]
      properties:
        id:
          type: string
        symbol:
          type: string
        side:
          $ref: '#/components/schemas/OrderSide'
        type:
          $ref: '#/components/schemas/OrderType'
        quantity:
          type: number
        price:
          type: number
          nullable: true
        status:
          $ref: '#/components/schemas/OrderStatus'
        deploymentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    OrderResponse:
      type: object
      required: [requestId, order]
      properties:
        requestId:
          type: string
        order:
          $ref: '#/components/schemas/Order'

    OrderListResponse:
      type: object
      required: [requestId, items, nextCursor]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        nextCursor:
          type: string
          nullable: true

    CreateOrderRequest:
      type: object
      required: [symbol, side, type, quantity]
      oneOf:
        - title: MarketOrder
          properties:
            type:
              enum: [market]
          not:
            required: [price]
        - title: LimitOrder
          required: [price]
          properties:
            type:
              enum: [limit]
      properties:
        symbol:
          type: string
          minLength: 1
        side:
          $ref: '#/components/schemas/OrderSide'
        type:
          $ref: '#/components/schemas/OrderType'
        quantity:
          type: number
          minimum: 0.00000001
        price:
          type: number
          minimum: 0
        deploymentId:
          type: string
          minLength: 1

    DatasetLifecycleStatus:
      type: string
      enum:
        - uploading
        - uploaded
        - validating
        - validated
        - validation_failed
        - transforming
        - ready
        - transform_failed
        - publishing_lona
        - published_lona
        - publish_failed
        - archived

    DatasetPublishMode:
      type: string
      enum: [explicit, just_in_time]

    Dataset:
      type: object
      required: [id, filename, contentType, sizeBytes, status, createdAt, updatedAt]
      properties:
        id:
          type: string
        filename:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
          minimum: 1
        status:
          $ref: '#/components/schemas/DatasetLifecycleStatus'
        providerDataId:
          type: string
          nullable: true
        uploadUrl:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DatasetResponse:
      type: object
      required: [requestId, dataset]
      properties:
        requestId:
          type: string
        dataset:
          $ref: '#/components/schemas/Dataset'

    DatasetListResponse:
      type: object
      required: [requestId, items, nextCursor]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
        nextCursor:
          type: string
          nullable: true

    DatasetUploadInitRequest:
      type: object
      required: [filename, contentType, sizeBytes]
      properties:
        filename:
          type: string
          minLength: 1
        contentType:
          type: string
          minLength: 1
        sizeBytes:
          type: integer
          minimum: 1

    DatasetUploadInitResponse:
      type: object
      required: [requestId, datasetId, uploadUrl, status]
      properties:
        requestId:
          type: string
        datasetId:
          type: string
        uploadUrl:
          type: string
        status:
          $ref: '#/components/schemas/DatasetLifecycleStatus'

    DatasetUploadCompleteRequest:
      type: object
      properties:
        uploadToken:
          type: string

    DatasetValidateRequest:
      type: object
      properties:
        columnMapping:
          type: object
          additionalProperties:
            type: string

    DatasetTransformCandlesRequest:
      type: object
      required: [frequency]
      properties:
        frequency:
          type: string
          minLength: 1

    DatasetPublishLonaRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/DatasetPublishMode'

    DatasetQualityReport:
      type: object
      required: [datasetId, status, summary, issues]
      properties:
        datasetId:
          type: string
        status:
          $ref: '#/components/schemas/DatasetLifecycleStatus'
        summary:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: true

    DatasetQualityReportResponse:
      type: object
      required: [requestId, qualityReport]
      properties:
        requestId:
          type: string
        qualityReport:
          $ref: '#/components/schemas/DatasetQualityReport'

    KnowledgeSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
        assets:
          type: array
          items:
            type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 10

    KnowledgeSearchItem:
      type: object
      required: [kind, id, title, summary, score]
      properties:
        kind:
          type: string
        id:
          type: string
        title:
          type: string
        summary:
          type: string
        score:
          type: number
        evidence:
          type: object
          additionalProperties: true

    KnowledgeSearchResponse:
      type: object
      required: [requestId, items]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeSearchItem'

    KnowledgePattern:
      type: object
      required:
        [id, name, type, description, suitableRegimes, assets, timeframes, confidenceScore, schemaVersion, createdAt, updatedAt]
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        suitableRegimes:
          type: array
          items:
            type: string
        assets:
          type: array
          items:
            type: string
        timeframes:
          type: array
          items:
            type: string
        confidenceScore:
          type: number
        sourceRef:
          type: string
          nullable: true
        schemaVersion:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    KnowledgePatternListResponse:
      type: object
      required: [requestId, items]
      properties:
        requestId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgePattern'

    KnowledgeRegime:
      type: object
      required: [id, asset, regime, volatility, indicators, startAt, schemaVersion, createdAt]
      properties:
        id:
          type: string
        asset:
          type: string
        regime:
          type: string
        volatility:
          type: string
        indicators:
          type: object
          additionalProperties:
            type: number
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        schemaVersion:
          type: string
        createdAt:
          type: string
          format: date-time

    KnowledgeRegimeResponse:
      type: object
      required: [requestId, regime]
      properties:
        requestId:
          type: string
        regime:
          $ref: '#/components/schemas/KnowledgeRegime'

    BacktestDataExportRequest:
      type: object
      required: [datasetIds]
      properties:
        datasetIds:
          type: array
          minItems: 1
          items:
            type: string
        assetClasses:
          type: array
          items:
            type: string

    BacktestDataExport:
      type: object
      required: [id, status, datasetIds, assetClasses, lineage, createdAt, updatedAt]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        datasetIds:
          type: array
          items:
            type: string
        assetClasses:
          type: array
          items:
            type: string
        downloadUrl:
          type: string
          nullable: true
        lineage:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    BacktestDataExportResponse:
      type: object
      required: [requestId, export]
      properties:
        requestId:
          type: string
        export:
          $ref: '#/components/schemas/BacktestDataExport'

    MarketScanV2Response:
      type: object
      required: [requestId, regimeSummary, strategyIdeas, knowledgeEvidence, dataContextSummary]
      properties:
        requestId:
          type: string
        regimeSummary:
          type: string
        strategyIdeas:
          type: array
          items:
            type: object
            required: [name, assetClass, description]
            properties:
              name:
                type: string
              assetClass:
                type: string
              description:
                type: string
              rationale:
                type: string
        knowledgeEvidence:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeSearchItem'
        dataContextSummary:
          type: string

    ConversationChannel:
      type: string
      enum: [cli, web, openclaw]

    ConversationRole:
      type: string
      enum: [user, assistant, system]

    ConversationSessionStatus:
      type: string
      enum: [active, closed]

    CreateConversationSessionRequest:
      type: object
      required: [channel]
      properties:
        channel:
          $ref: '#/components/schemas/ConversationChannel'
        topic:
          type: string
          minLength: 1
        metadata:
          type: object
          additionalProperties: true

    ConversationSession:
      type: object
      required: [id, channel, status, metadata, createdAt, updatedAt]
      properties:
        id:
          type: string
        channel:
          $ref: '#/components/schemas/ConversationChannel'
        status:
          $ref: '#/components/schemas/ConversationSessionStatus'
        topic:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastTurnAt:
          type: string
          format: date-time
          nullable: true

    ConversationSessionResponse:
      type: object
      required: [requestId, session]
      properties:
        requestId:
          type: string
        session:
          $ref: '#/components/schemas/ConversationSession'

    CreateConversationTurnRequest:
      type: object
      required: [role, message]
      properties:
        role:
          $ref: '#/components/schemas/ConversationRole'
        message:
          type: string
          minLength: 1
        metadata:
          type: object
          additionalProperties: true

    ConversationTurn:
      type: object
      required: [id, sessionId, role, message, suggestions, metadata, createdAt]
      properties:
        id:
          type: string
        sessionId:
          type: string
        role:
          $ref: '#/components/schemas/ConversationRole'
        message:
          type: string
        suggestions:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    ConversationTurnResponse:
      type: object
      required: [requestId, sessionId, turn]
      properties:
        requestId:
          type: string
        sessionId:
          type: string
        turn:
          $ref: '#/components/schemas/ConversationTurn'

    ValidationProfile:
      type: string
      enum: [FAST, STANDARD, EXPERT]

    ValidationDecision:
      type: string
      enum: [pass, conditional_pass, fail]

    ValidationRunDecision:
      type: string
      enum: [pending, pass, conditional_pass, fail]

    ValidationRunStatus:
      type: string
      enum: [queued, running, completed, failed]

    ValidationCheckStatus:
      type: string
      enum: [pass, fail]

    ValidationPolicyProfile:
      type: object
      required:
        [
          profile,
          blockMergeOnFail,
          blockReleaseOnFail,
          blockMergeOnAgentFail,
          blockReleaseOnAgentFail,
          requireTraderReview,
          hardFailOnMissingIndicators,
          failClosedOnEvidenceUnavailable,
        ]
      properties:
        profile:
          $ref: '#/components/schemas/ValidationProfile'
        blockMergeOnFail:
          type: boolean
        blockReleaseOnFail:
          type: boolean
        blockMergeOnAgentFail:
          type: boolean
        blockReleaseOnAgentFail:
          type: boolean
        requireTraderReview:
          type: boolean
        hardFailOnMissingIndicators:
          type: boolean
          enum: [true]
        failClosedOnEvidenceUnavailable:
          type: boolean
          enum: [true]

    ValidationRun:
      type: object
      required: [id, status, profile, schemaVersion, finalDecision, createdAt, updatedAt]
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/ValidationRunStatus'
        profile:
          $ref: '#/components/schemas/ValidationProfile'
        schemaVersion:
          type: string
          enum: [validation-run.v1]
        finalDecision:
          $ref: '#/components/schemas/ValidationRunDecision'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ValidationRunResponse:
      type: object
      required: [requestId, run]
      properties:
        requestId:
          type: string
        run:
          $ref: '#/components/schemas/ValidationRun'

    ValidationRunListResponse:
      type: object
      required: [requestId, runs]
      properties:
        requestId:
          type: string
        runs:
          type: array
          items:
            $ref: '#/components/schemas/ValidationRun'

    ValidationStrategyRef:
      type: object
      required: [strategyId, provider, providerRefId]
      properties:
        strategyId:
          type: string
        provider:
          type: string
          enum: [lona]
        providerRefId:
          type: string

    ValidationRunInputs:
      type: object
      required: [prompt, requestedIndicators, datasetIds, backtestReportRef]
      properties:
        prompt:
          type: string
        requestedIndicators:
          type: array
          minItems: 1
          items:
            type: string
        datasetIds:
          type: array
          minItems: 1
          items:
            type: string
        backtestReportRef:
          type: string

    ValidationRunOutputs:
      type: object
      required: [strategyCodeRef, backtestReportRef, tradesRef, executionLogsRef, chartPayloadRef]
      properties:
        strategyCodeRef:
          type: string
        backtestReportRef:
          type: string
        tradesRef:
          type: string
        executionLogsRef:
          type: string
        chartPayloadRef:
          type: string

    ValidationIndicatorFidelityCheck:
      type: object
      required: [status, missingIndicators]
      properties:
        status:
          $ref: '#/components/schemas/ValidationCheckStatus'
        missingIndicators:
          type: array
          items:
            type: string

    ValidationTradeCoherenceCheck:
      type: object
      required: [status, violations]
      properties:
        status:
          $ref: '#/components/schemas/ValidationCheckStatus'
        violations:
          type: array
          items:
            type: string

    ValidationMetricConsistencyCheck:
      type: object
      required: [status, driftPct]
      properties:
        status:
          $ref: '#/components/schemas/ValidationCheckStatus'
        driftPct:
          type: number
          minimum: 0

    ValidationDeterministicChecks:
      type: object
      required: [indicatorFidelity, tradeCoherence, metricConsistency]
      properties:
        indicatorFidelity:
          $ref: '#/components/schemas/ValidationIndicatorFidelityCheck'
        tradeCoherence:
          $ref: '#/components/schemas/ValidationTradeCoherenceCheck'
        metricConsistency:
          $ref: '#/components/schemas/ValidationMetricConsistencyCheck'

    ValidationReviewFinding:
      type: object
      required: [id, priority, confidence, summary, evidenceRefs]
      properties:
        id:
          type: string
        priority:
          type: integer
          minimum: 0
          maximum: 3
        confidence:
          type: number
          minimum: 0
          maximum: 1
        summary:
          type: string
        evidenceRefs:
          type: array
          minItems: 1
          items:
            type: string

    ValidationAgentReviewBudgetLimits:
      type: object
      required: [maxRuntimeSeconds, maxTokens, maxToolCalls, maxFindings]
      properties:
        maxRuntimeSeconds:
          type: number
          minimum: 0
        maxTokens:
          type: integer
          minimum: 1
        maxToolCalls:
          type: integer
          minimum: 0
        maxFindings:
          type: integer
          minimum: 1

    ValidationAgentReviewBudgetUsage:
      type: object
      required: [runtimeSeconds, tokensUsed, toolCallsUsed]
      properties:
        runtimeSeconds:
          type: number
          minimum: 0
        tokensUsed:
          type: integer
          minimum: 0
        toolCallsUsed:
          type: integer
          minimum: 0

    ValidationAgentReviewBudget:
      type: object
      required: [profile, limits, usage, withinBudget, breachReason]
      properties:
        profile:
          $ref: '#/components/schemas/ValidationProfile'
        limits:
          $ref: '#/components/schemas/ValidationAgentReviewBudgetLimits'
        usage:
          $ref: '#/components/schemas/ValidationAgentReviewBudgetUsage'
        withinBudget:
          type: boolean
        breachReason:
          type: string
          nullable: true

    ValidationAgentReview:
      type: object
[...]
