:root {
  --ifm-color-primary: #0f4c81;
  --ifm-color-primary-dark: #0d4473;
  --ifm-color-primary-darker: #0c406b;
  --ifm-color-primary-darkest: #0a3458;
  --ifm-color-primary-light: #11548f;
  --ifm-color-primary-lighter: #125897;
  --ifm-color-primary-lightest: #1669b2;
}
